<h1 class="font-extrabold text-9xl tracking-tight mb-16">
    <span class="text-white text-opacity-80 drop-shadow-lg">@ChildContent</span>
</h1>

@code {
	[Parameter]
	public RenderFragment ChildContent { get; set; }
}
