<table class="table-auto p-8 border-collapse w-full text-sm bg-white rounded-2xl rounded-b-none bg-opacity-50 overflow-hidden">
    @ChildContent
</table>

@code {
	[Parameter]
	public RenderFragment ChildContent { get; set; }
}
