<table class="table-auto p-8 border-collapse w-full text-sm bg-slate-200 rounded-2xl rounded-b-none bg-opacity-40 overflow-hidden">
    @ChildContent
</table>

@code {
	[Parameter]
	public RenderFragment ChildContent { get; set; }
}
