@inherits LayoutComponentBase

<div class="page ">
    <div class="fixed -z-10 -top-0 -bottom-0 -left-0 -right-0">
      <div
        class="rounded-full absolute top-0 left-0 w-2/3 h-2/3 bg-teal-200 mix-blend-hard-light filter blur-2xl opacity-40 animate-blob delay-0"
      ></div>
      <div
        class="rounded-full absolute top-0 right-0 w-2/3 h-2/3 bg-red-200 mix-blend-hard-light filter blur-2xl opacity-40 animate-blob delay-500"
      ></div>
      <div
        class="rounded-full absolute bottom-0 left-0 right-0 w-full h-2/3 bg-green-200 mix-blend-hard-light filter blur-2xl opacity-40 animate-blob delay-1000"
      ></div>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
