@page "/" 
@using Microsoft.AspNetCore.Components.Web
@namespace FifaTeamMaker.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            animation: {
              blob: "blob 30s infinite",
            },
            keyframes: {
              blob: {
                "0%": {
                  transform: "translate(0px, 0px) scale(1)",
                },
                "33%": {
                  transform: "translate(30px, -50px) scale(1.9)",
                },
                "66%": {
                  transform: "translate(-20px, 20px) scale(1.2)",
                },
                "100%": {
                  transform: "tranlate(0px, 0px) scale(1)",
                },
              },
            },
          },
        },
        plugins: [],
      };
    </script>
    <link rel="icon" type="image/png" href="favicon.png" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
  </head>

  <body class="bg-purple-300 p-12">
    <div
      class="absolute -z-10 -top-0 -bottom-0 -left-0 -right-0"
    >
      <div
        class="rounded-full absolute top-0 left-0 w-2/3 h-2/3 bg-purple-300 mix-blend-multiply filter blur-xl opacity-90 animate-blob"
      ></div>
      <div
        class="rounded-full absolute top-0 right-0 w-2/3 h-2/3 bg-yellow-300 mix-blend-multiply filter blur-xl opacity-90 animate-blob animation-delay-2000"
      ></div>
      <div
        class="rounded-full absolute bottom-0 left-0 right-0 w-full h-2/3 bg-pink-300 mix-blend-multiply filter blur-xl opacity-90 animate-blob animation-delay-4000"
      ></div>
    </div>

    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>
  </body>
</html>
