@page "/" 
@using Microsoft.AspNetCore.Components.Web
@namespace FifaTeamMaker.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
      tailwind.config = {
        theme: {
          fontFamily: {
            display: ["Pally", "Comic Sans MS", "sans-serif"],
            body: ["Pally", "Comic Sans MS", "sans-serif"],
          },
          extend: {
            animation: {
              blob: "blob 20s infinite",
            },
            keyframes: {
              blob: {
                "0%": {
                    transform: "rotate(0deg) translate(-150px) scale(1.2)",
                },
                // "25%": {
                //   transform: "scale(1.3)",
                // },
                "50%": {
                    transform: "rotate(360deg) translate(300px) scale(2)",
                },
                // "75%": {
                //   transform: "scale(1.3)",
                // },
                "100%": {
                  transform: "rotate(0deg) translate(-150px) scale(1.2)",
                },
              },
            },
          },
        },
        plugins: [],
      };
    </script>
    <link rel="icon" type="image/png" href="favicon.png" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
  </head>

  <body class="bg-purple-300 p-12">
    <div class="absolute -z-10 -top-0 -bottom-0 -left-0 -right-0">
      <div
        class="rounded-full absolute top-0 left-0 w-2/3 h-2/3 bg-purple-400 mix-blend-hard-light filter blur-2xl opacity-90 animate-blob delay-0"
      ></div>
      <div
        class="rounded-full absolute top-0 right-0 w-2/3 h-2/3 bg-yellow-400 mix-blend-hard-light filter blur-2xl opacity-90 animate-blob delay-500"
      ></div>
      <div
        class="rounded-full absolute bottom-0 left-0 right-0 w-full h-2/3 bg-pink-400 mix-blend-hard-light filter blur-2xl opacity-90 animate-blob delay-1000"
      ></div>
    </div>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>
  </body>
</html>
