@page "/"

<PageTitle>Fifa Team Builder</PageTitle>

<h1 class="text-slate-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center dark:text-white">
    Fifa Team Builder</h1>

